.headers {
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 48px;
/* identical to box height, or 114% */

letter-spacing: -2.5px;
font-feature-settings: 'pnum' on, 'lnum' on;

/* Gray 1 */

color: #3B3B3B;
    margin: 40px 0px 0px 80px;
}
.titles {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: -0.02em;

/* Gray 2 */

color: #4F4F4F;
margin: 12px 0px 0px 80px;
}
.textfield {

    margin: 24px 0px 0px 80px;
}
.textfield-size {
    width: 400px;
    height: 56px;
  
}
.doc-header {
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

letter-spacing: -0.02em;
text-transform: uppercase;

/* Gray 2 */

color: #4F4F4F;
margin: 16px 0px 0px 80px;
}
.doc-title {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

letter-spacing: -0.01em;

/* Gray 2 */

color: #4F4F4F;
margin: 4px 0px 0px 80px;
}
.btn-add {
    width: 160px;
    height: 160px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    /* Light */

    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
    border-radius: 3px;
    margin: 19px 0px 0px 80px;
}
.btn-back {
    width: 91px;
    height: 48px;
   
}
.btn-continue {
   width: 161px; 
   height: 48px;

}
.plus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.box-style {
    width: 800px;
    height: 656px;
    background: #FFFFFF;
    border-radius: 12px;
    position: absolute;
    left: 320px;
    top: 122px;
    transform: translate(-50%, -50%),

    
}
.modal-headers {
        font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 36px;
/* identical to box height, or 112% */

letter-spacing: -0.02em;

/* Gray 1 */

color: #3B3B3B;

}
.modal-titles {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    /* or 141% */

    letter-spacing: -0.02em;

    /* Gray 3 */

    color: #828282;
    margin: 12px 0px 0px 0px;
}
.switch-btn {
    display: flex;
flex-direction: row;
align-items: center;
padding: 2px 16px;

position: absolute;
width: 279px;
height: 48px;
left: 80px;
top: 136px;

/* Gray 6 */

background: #F2F2F2;
border-radius: 4px;
}
.switch-btn-desktop {
    display: flex;
flex-direction: row;
align-items: center;
padding: 4px 8px;

position: static;
width: 128px;
height: 40px;
left: 16px;
top: 4px;

/* Blue 4 */

background: #3565E3;
border-radius: 3px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;
}
.switch-btn-cloud {
    position: static;
width: 87px;
height: 32px;
left: 8px;
top: 6px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */

display: flex;
align-items: center;

/* Gray 1 */

color: #3B3B3B;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.drag-drop-area {
    position: absolute;
width: 640px;
height: 360px;
left: 80px;
top: 200px;

/* Gray 6 */

background: #F2F2F2;
border-radius: 4px;
}
.drag-drop-title {
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: -0.02em;

/* Gray 1 */

color: #3B3B3B;
position: absolute;
width: 269px;
height: 24px;


}
.drag-drop-choose {
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 8px;

position: absolute;
width: 115px;
height: 40px;


/* Blue 0 */

background: #22354C;
border-radius: 3px;
margin-left: 75px;
    margin-top: 40px;
}
.drag-drop-choose-font {
   position: static;
width: 99px;
height: 32px;
left: 8px;
top: 4px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */

display: flex;
align-items: center;

color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;

}