.Dashboard {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    background: #F2F2F2;
    border-radius: 12px;
    height: 322px;
    width: 1152px;
}
.flex-container {
    display: flex;
}
.item {
     flex: 1;
    
}
.btn-item {
    margin: 35px;
}
.username-item {
    margin: 75px 0px 0px 35px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 48px;
    color: #4F4F4F;
    display: flex;
    align-items: center;
    letter-spacing: -2.5px;
    font-feature-settings: 'pnum' on, 'lnum' on;

}
.main-box{
    width: 1152px;
    display: flex;

}

.box-item{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* position: absolute; */
    width: 272px;
    height: 96px;
    margin-top: 32px;
    display: inline-block;
    flex:1 1 auto;
    
    
}
.main-box .box-item:not(:first-child){
    margin-left: 21px
}

.item-document {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    width: 129px;
    margin-left: 27px;
    margin-right: 53px;
}

.item-document2 {
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
margin-left: 27px;
margin-top: 12px;
/* identical to box height, or 117% */

letter-spacing: -0.02em;

/* Gray 2 */

color: #4F4F4F;
}
.item2 {
    margin-top: 16px;
}
.display-item {
  display: block;
  text-decoration: none;
}

.display-item-box {
 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}
.flex-container2 {
    display: flex;
    width: 1152px;
    margin-top: 32px;
}
.flex-box-1 {
    width: 432px;
    height: 420px;

/* Gray 6 */

background: #F2F2F2;
border-radius: 12px;
}
.flex-box-2 {
width: 702px;
height: 420px;
margin-left: 18px;

/* Gray 6 */

background: #F2F2F2;
border-radius: 12px;
}

.title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
/* identical to box height, or 112% */

    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    margin: 24px 96px 0px 24px;

/* Gray 2 */

    color: #4F4F4F;

}

.detail-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
/* identical to box height, or 118% */

    letter-spacing: -0.02em;
    margin: 10px 0px 0px 24px;
/* Gray 2 */

    color: #4F4F4F;
}

.data-table {
    font-family: Open Sans;
    border-collapse: collapse;
    width: 100%;
    margin-left: 35px;
    margin-top: 13px;
}

.th-tag {
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
padding: 18px;
/* identical to box height, or 133% */

letter-spacing: -0.02em;

/* Gray 2 */

color: #4F4F4F;

}

.view-all-btn {
    width: 432px;
    height: 52px;
    background: #DCDEE0;
/* Light */

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 52px;
/* identical to box height, or 125% */

    letter-spacing: -0.02em;
    text-transform: uppercase;

/* Blue 3 */

    color: #0D41BF;
    text-align: center;
    vertical-align: middle;
    margin-top: 99px;
}